{% extends "estudiante/base_mainpage.html" %}

{% load static %}

{% block extra-css %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap');
    </style>
{% endblock %}

{% block title %}
    asdasdasdasdas
{% endblock %}

{% block header_ctxt %}
    <div class="nav-bar-title navbar-brand"> hola jajajaja</div>
    <a class=""></a>
{% endblock %}

{% block inner_content %}

 <p style="font-family: 'Capriola';"> holas </p>
{% endblock %}

{% block scripts %}

{% endblock %}

{% block footer %}
<footer style=" margin-left: 0px;">
    <p style="font-family: 'Capriola'; position: absolute; width:100%; left: 0px; bottom: 0; width: 100%;  text-align: center; color: black;">&copy; ICAT | UNAM</p>
  </footer>
{% endblock %}

{% block scripts %}
afsadfasdf
a{% endblock %}